/* css variables */

:root {
    --bs-primary-rgb: 0,113,188;
    --bs-link-color: #0071bc;
    --bs-link-hover-color: #005e9c;
    --bs-warning: #ffa900;
    --bs-warning-rgb: 255,169,0;
}

/* global font */

body {
    font-family: 'Poppins', sans-serif;
}

/* font weight 500  */

.fw-500 {
    font-weight: 500;
}

/* accordion bg  */

.accordion {
    --bs-accordion-active-color: #0071bc;
}

/* cursor  */

.cursor {
    cursor: pointer;
}